/* styles.css */

/* Navigation Bar Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Section Styles */
.landing-page {
    text-align: center;
    padding: 50px;
}

/* styles.css */

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-info {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: lightblue;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info div {
    margin-bottom: 20px;
}

.contact-info form {
    width: 100%;
}

.contact-info label {
    display: block;
    margin-bottom: 5px;
}

.contact-info input,
.contact-info textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-info input[type="submit"] {
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info input[type="submit"]:hover {
    background-color: #001F4D;
}


